*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "Ruhl Regular";
  src: url(./fonts/FrankRuhlLibre-Regular.ttf);
}

@font-face {
  font-family: "Ruhl Medium";
  src: url(./fonts/FrankRuhlLibre-Medium.ttf);
}

@font-face {
  font-family: "Great Vibes Regular";
  src: url(./fonts/GreatVibes-Regular.ttf);
}

html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1.2rem + 1vw);
  --big: calc(2.4rem + 1vw);
  --bigger: calc(5rem + 1vw);
  --biggest: calc(9rem + 1vw);
  --small: calc(0.5rem + 1vw);

  --color-primary: #41414141;
  --color-secondary: #52525252;
  --color-gray: #525252;
  --special-color: #906272;

  // overflow-x: hidden;
}

// Helper classes
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Ruhl Regular";
  // background-color: #25242a;
}

.site {
  background-color: white;
  animation: fadeIn 0.5s ease-in;

  a {
    font-size: var(--text);
    color: black;
  }

  .main-header {
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.226);
    position: relative;

    .navigation {
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 10vh;

      &__logo {
        // outline: peru 0.2rem solid;
        flex: 1 1 30rem;
        font-family: "Great Vibes Regular";
        font-size: var(--header1);
      }

      &__items {
        // outline: #4c00829d 0.2rem solid;
        flex: 1 1 30rem;
        display: flex;
        justify-content: space-around;
      }
    }
  }

  .hero {
    animation: fadeIn 1s ease-in-out;
    min-height: 90vh;
    // width: 95%;
    // margin: 0 0 0 5rem;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    &__content {
      // outline: crimson 0.2rem solid;
      text-align: center;
      flex: 2 1 40rem;
      padding: 3rem 0 3rem 0;

      &--title {
        font-size: var(--header2);
      }

      &--subtext {
        padding: 6rem 3rem;
        color: var(--color-gray);
        font-size: var(--text);
      }

      &--galleryLink {
        padding: 2rem 4rem;
        border: black solid 0.2rem;
      }
    }

    &__image {
      // align-self: flex-end;
      background: linear-gradient(#dad8dd, #dad1d4);
      flex: 1 1 40rem;
      position: relative;
      z-index: 1;

      &--model {
        height: 100%;
        width: 100%;
        object-fit: cover;
        //
      }

      .plant {
        position: absolute;
        bottom: 0;
        left: -11%;
        height: 35rem;
        z-index: -1;
        transform: translateY(20%) rotateZ(-10deg) rotateX(-90deg);
        animation: dropIn 1.5s ease-in-out 0.5s forwards,
          plantShake 2.5s infinite ease-in-out alternate-reverse 2s;
        transform-origin: bottom;
      }

      &--plant-2 {
        margin-left: 70%;
      }
    }
  }

  .about {
    display: flex;
    flex-wrap: wrap;
    &__image {
      flex: 1 1 40rem;
      position: relative;

      &--title {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -15%);
        font-size: var(--big);
        letter-spacing: 2rem;
        color: white;
        text-shadow: 0 0.8rem 0.5rem var(--color-primary);
      }

      &--model {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__content {
      flex: 1 1 40rem;
      background: var(--color-gray);
      color: white;
      padding: 8rem 5rem;

      &--title {
        font-size: var(--big);
        font-family: "Great Vibes Regular";
        text-align: center;
      }

      &--subtext {
        h1 {
          font-size: var(--header1);
          margin: 6rem 0 3rem 0;
        }

        p {
          font-size: var(--small);
          padding-bottom: 5rem;
        }
      }
    }
  }

  .contact {
    min-height: 100vh;
    display: flex;
    // flex-wrap: wrap;

    &__content {
      flex: 3 1 40rem;
      height: 100%;
      padding: 15rem 0 0 20rem;

      &--title {
        padding-bottom: 3rem;
        h1 {
          font-size: var(--bigger);
        }
        h2 {
          font-size: var(--biggest);
          color: var(--special-color);
        }
      }

      &--form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        label {
          font-size: var(--small);
          font-weight: bold;
          padding-bottom: 0.8rem;
        }

        input {
          width: 22vw;
          height: 4vh;
          margin-bottom: 1rem;
          background: var(--color-gray);
          border: none;
          color: white;
          padding: 0 1rem 0 1rem;
        }

        button {
          height: 4vh;
          width: 8rem;
          margin-top: 2rem;
          color: white;
          background: var(--special-color);
          border: none;
          transition: all ease-in-out 0.3s;

          &:hover {
            cursor: pointer;
            background: rgb(99, 67, 79);
          }
        }
      }
    }

    &__image {
      flex: 1 1 40rem;
      object-fit: cover;
    }
  }

  footer {
    background: var(--color-gray);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    flex-wrap: wrap;

    h4 {
      font-size: var(--small);
      flex: 1 1 40rem;
      // outline: crimson 0.5rem solid;
      margin: 2rem 0;
    }

    ul {
      display: flex;
      // outline: crimson 0.5rem solid;
      flex: 1 1 20rem;
      justify-content: space-evenly;
    }
  }
}

// ANIMATIONS

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dropIn {
  0% {
    transform: translateY(20%) rotateZ(-10deg) rotateX(-90deg);
  }

  100% {
    transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}

@keyframes plantShake {
  from {
    transform: rotateZ(-5deg);
  }

  to {
    transform: rotateZ(0);
  }
}

.navigation__menu,
.navigation__check {
  display: none;
}

.portfolio {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  position: relative;

  &__title {
    background: #525252da;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2.5rem 4rem;
    text-align: center;

    h1 {
      font-size: var(--big);
    }

    p {
      font-size: var(--small);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__image {
    &-1 {
      grid-column: 1/3;
    }

    &-2 {
      grid-column: 3/4;
      grid-row: 1/3;
    }
  }
}

// Breakpoints

@media screen and (max-width: 799px) {
  .site {
    .navigation {
      position: relative;
      &__menu {
        display: block;
        span {
          padding: 0.2rem 2rem;
          background: var(--color-primary);
          margin: 0.5rem 0;
          display: block;
        }
      }

      /*
      &__check {
        display: block;
        position: absolute;
        top: 50%;
        right: -1%;
        transform: translate(5%, -50%);
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        opacity: 0;
        z-index: 100;

        &:checked + .navigation__items {
          transform: translate(-100%);
        }

        &:checked ~ .navigation__menu span {
          background-color: white;
        }
      }
      */
      .navigation__menu--open {
      }

      &__items {
        background: #25242a;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 2;
        align-items: center;
        flex-direction: column;
        transition: transform 1s ease-in-out;

        a {
          color: white;
          font-size: var(--header1);
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .site {
    .contact {
      align-items: center;
      &__content {
        // outline: crimson 0.5rem solid;
        flex: 3 1 40rem;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--title {
          text-align: center;
        }

        &--form {
          align-items: center;
          input {
            width: 100%;
          }
        }
      }

      img {
        display: none;
      }
    }

    footer {
      h4 {
        text-align: center;
        order: 2;
      }

      ul {
        padding-top: 2rem;
        order: 1;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .portfolio {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    img {
      grid-column: auto;
      grid-row: auto;
    }
  }
}

@media screen and (max-width: 471px) {
  .site {
    .about {
      &__content {
        padding: 8rem 2.5rem;
      }
    }
  }
}
